<div class="banner">
  <%= cl_image_tag @list.photo.key, height: 200, width: 300, crop: :fill %>
  <div class="container">
    <h1><%= @list.name.capitalize %></h1>
  </div>
</div>
<div>
  <% @list.bookmarks.each do |bookmark| %>
    <%= bookmark.movie.title %>
    <%= bookmark.comment %>
  <% end %>
</div>
